.content {
    font-family: Square;
    text-align: left;
    /* max-width: 500px; */
    width: 60%;
    min-width: 500px;
    margin: auto;
    border: 3px solid green;
    padding: 75px 0;
    white-space: pre-wrap;
}

@font-face {
    font-family: Square;
    src: url(square.ttf);
}